[submodule "moongen-lte-emulator"]
	path = moongen-lte-emulator
	url = https://github.com/KaushikChavali/MoonGen.git
[submodule "quic-opensand-emulation"]
	path = quic-opensand-emulation
	url = https://github.com/KaushikChavali/quic-opensand-emulation.git
