[submodule "quic-opensand-emulation"]
	path = quic-opensand-emulation
	url = https://github.com/KaushikChavali/quic-opensand-emulation.git
[submodule "MoonGen"]
	path = MoonGen
	url = https://github.com/KaushikChavali/MoonGen.git
